Flask==3.0.3
flask-cors==4.0.1

pandas==2.2.2
numpy==1.26.4
scipy==1.13.1

scikit-learn==1.5.1
xgboost==2.1.1
joblib==1.4.2

matplotlib==3.9.2

openpyxl==3.1.5
reportlab==4.2.2

gunicorn

psycopg2-binary
python-dotenv

